{% extends "base.html" %}

{% block content_title %}
    <a href="{{ SITEURL }}">home</a>
{% endblock %}

{% block content %}
<div class="entry">
My name is Dane Henson.<br />
I socialize on <a href="{{ GOOGLEPLUS_URL }}">Google+</a> and <a href="{{ TWITTER_URL }}">Twitter</a>.<br />
I create family videos on <a href="{{ VIMEO_URL }}">Vimeo</a>.<br />
I occasionally put my code on <a href="{{ GITHUB_URL }}">GitHub</a> and <a href="{{ LAUNCHPAD_URL }}">Launchpad</a>.<br /><br />
</div>
<table>
    <tbody>
    <tr>
        <th>
            <h6>my thoughts</h6>
        </th>
    </tr>
    {% for article in articles_page.object_list %}
        <tr class="archive">
            <th>{{ article.date.strftime("%m-%d-%y") }}:</th>
            <td><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'pagination.html' %}
{% endblock content %}
