{{ partial "header.html" . }}
<section id="main">
  <div class="row">
    <div class="col-center col-6">
      {{ partial "subheader.html" . }}
      <h2 class="center">Profession</h2>
      <p class="justified">I am currently working as a network technician for a large utility company in North Texas. If you are interested in hiring me, or would like to know more about my skills, feel free to <a href="mailto:dane.henson@gmail.com">contact me</a> for a copy of my resume. You'll find that "Network Technician" is not an adequate descriptor.</p>
      <h2 class="center">Writing</h2>
      <p class="justified">I use creative writing as one of my many recreational outlets. I have not yet been published, but I occasionally write about my personal life as well as some fiction on my <a href="http://dane.roon.io">blog</a>.</p>
      <h2 class="center">Hobbies</h2>
      <p class="justified">I dabble in a lot of different digital and physical playgrounds. I help moderate and maintain the website for my favorite <a href="http://elementaryos.org">operating system</a>. I like to ride bicycles, and fly RC planes. I am self-taught and fairly proficient in a couple of different programming languages.</p>
      {{ partial "social.html" . }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
